<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Post:</strong>
  <% @pst = Post.find(@comment.post_id) %>
  <%= @pst.name %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', post_comments_url(@pst) %>
